# i3 config file (v4)
# vim: filetype=conf

# Font for window title. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:Dejavu Sans Mono monospace 8

# set the modifier
set $mod Control
set $Alt Mod1

# use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# use these keys for focus, movement, and resize directions when reaching for
# the arrows is not convenient
set $up k
set $down j
set $left h
set $right l

# Workspace
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# Needed for i3-gaps
for_window [class="^.*"] border pixel 2
gaps inner 5
gaps outer 5

# Set some variables
set $term --no-startup-id $TERMINAL
set $stoprec --no-startup-id dmenurecord kill
set $shutdown sudo -A shutdown -h now
set $reboot sudo -A reboot
set $netrefresh --no-startup-id sudo -A systemctl restart NetworkManager
set $hibernate sudo -A systemctl suspend


# Setting the background:
exec --no-startup-id feh --bg-scale ~/.config/wall.png
# Starts dunst for notifications:
exec --no-startup-id dunst
# Composite manager:
exec --no-startup-id xcompmgr
# Unclutter makes the mouse invisible after a brief period
exec --no-startup-id unclutter
# Run the script to update the mpd i3block on change.
#exec_always --no-startup-id mpdupdate
# mpd startup
#exec --no-startup-id mpd

# Set Xresources colors:
set_from_resource $darkblack	color0  #000000
set_from_resource $black	color8  #000000
set_from_resource $darkred	color1  #000000
set_from_resource $red		color9  #000000
set_from_resource $darkgreen	color2  #000000
set_from_resource $green	color10 #000000
set_from_resource $darkyellow	color3  #000000
set_from_resource $yellow	color11 #000000
set_from_resource $darkblue	color4  #000000
set_from_resource $blue		color12 #000000
set_from_resource $darkmagenta	color5  #000000
set_from_resource $magenta	color13 #000000
set_from_resource $darkcyan	color6  #000000
set_from_resource $cyan		color14 #000000
set_from_resource $darkwhite	color7  #000000
set_from_resource $white	color15 #000000
set $transparent		#00000000

#                       BORDER		BACKGROUND	TEXT		INDICATOR   CHILD_BORDER
client.focused		$red		$red		$magenta	$darkmagenta		$darkblue
client.unfocused	$transparent	$blue		$white		$darkblue		$darkblack
client.focused_inactive	$transparent	$blue		$white		$darkblue		$darkblack
client.urgent		$darkred	$darkred	$black		$darkred		$darkred
client.background $black

# bindings #

# change focus window
bindsym $mod+$left 		focus left
bindsym $mod+$down 		focus down
bindsym $mod+$up 		focus up
bindsym $mod+$right 		focus right
# Alternatively using arrow keys
bindsym $mod+Left 		focus left
bindsym $mod+Down 		focus down
bindsym $mod+Up 		focus up
bindsym $mod+Right 		focus right

# Moving focused window
bindsym $mod+Shift+$left 	move left
bindsym $mod+Shift+$right 	move right
bindsym $mod+Shift+$up 		move up
bindsym $mod+Shift+$down 	move down
# Alternatively using arrow keys
bindsym $mod+Shift+Left 	move left
bindsym $mod+Shift+Right 	move right
bindsym $mod+Shift+Up 		move up
bindsym $mod+Shift+Down 	move down

# switch to workspace
bindsym $mod+1			workspace $ws1
bindsym $mod+2			workspace $ws2
bindsym $mod+3			workspace $ws3
bindsym $mod+4			workspace $ws4
bindsym $mod+5			workspace $ws5
bindsym $mod+6			workspace $ws6
bindsym $mod+7			workspace $ws7
bindsym $mod+8			workspace $ws8
bindsym $mod+9			workspace $ws9
bindsym $mod+0			workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1		move container to workspace $ws1
bindsym $mod+Shift+2		move container to workspace $ws2
bindsym $mod+Shift+3		move container to workspace $ws3
bindsym $mod+Shift+4		move container to workspace $ws4
bindsym $mod+Shift+5		move container to workspace $ws5
bindsym $mod+Shift+6		move container to workspace $ws6
bindsym $mod+Shift+7		move container to workspace $ws7
bindsym $mod+Shift+8		move container to workspace $ws8
bindsym $mod+Shift+9		move container to workspace $ws9
bindsym $mod+Shift+0		move container to workspace $ws10


# start a terminal
bindsym $mod+Return 		exec $term
bindsym $mod+b			bar mode toggle
bindsym $mod+Shift+c		exec --no-startup-id camtoggle
bindsym $mod+d			exec --no-startup-id dmenu_run
bindsym $mod+f 			fullscreen toggle
bindsym $mod+g			workspace prev
bindsym $mod+i			exec $term -e htop
bindsym $mod+m			mode "move"
bindsym $mod+Shift+m		exec --no-startup-id lmc mute
bindsym $mod+Shift+n		floating toggle; sticky toggle; exec --no-startup-id bottomright
bindsym $mod+o 			sticky toggle
bindsym $mod+q 			kill
bindsym $mod+Shift+q 		kill
bindsym $mod+r			mode "resize"
bindsym $mod+Shift+r		restart
bindsym $mod+s 			gaps inner current plus 5
bindsym $mod+Shift+s		gaps inner current minus 5
bindsym $mod+t 			split toggle
bindsym $mod+semicolon		workspace next

bindsym $Alt+Tab		workspace next
bindsym $mod+space 		focus mode_toggle
bindsym $mod+Shift+space 	floating toggle
bindsym $mod+Escape		exec --no-startup-id lockscreen
bindsym $mod+Shift+Escape 	exec --no-startup-id prompt "Exit i3?" "i3-msg exit"
bindsym $mod+Shift+BackSpace	exec --no-startup-id prompt "Reboot computer?" "$reboot"
bindsym $mod+$Alt+Delete	exec --no-startup-id prompt "Shutdown computer?" "$shutdown"
bindsym $mod+grave		exec --no-startup-id dmenuunicode
bindsym $mod+Insert		exec --no-startup-id showclip
bindsym $mod+Pause		exec --no-startup-id xcqr

# Function Buttons #
bindsym $mod+F2			restart
#bindsym $mod+F3		exec --no-startup-id displayselect
bindsym $mod+F4			exec --no-startup-id prompt "Hibernate computer?" "$hibernate"
BIndsym $mod+F5			exec --no-startup-id $netrefresh
bindsym $mod+F9			exec --no-startup-id dmenumount
bindsym $mod+F10		exec --no-startup-id dmenuumount
bindsym $mod+F11		exec --no-startup-id ducksearch
bindsym $mod+F12		exec $term -e nmtui

# Using Alt (Mod4) as modifier
bindsym $Alt+F2			restart
bindsym $Alt+F4			kill

# Screenshot of the whole screen
bindsym Print 			exec --no-startup-id scrot '%Y-%m-%d-%H%M%S_$wx$h.png' -e 'mv $f ~/Screenshots/'
# Screenshot of the currently focused window
bindsym Shift+Print 		exec --no-startup-id scrot -u '%Y-%m-%d-%H%M%S_$wx$h.png' -e 'mv $f ~/Screenshots/'
bindsym $mod+Print		exec --no-startup-id dmenurecord
bindsym $mod+Scroll_Lock	exec --no-startup-id "killall screenkey || screenkey"
bindsym $mod+Delete		exec $stoprec
bindsym XF86Launch1		exec --no-startup-id xset dpms force off

# These are the extra media keys that some keyboards have.
bindsym XF86AudioMute			exec --no-startup-id lmc mute
bindsym XF86AudioLowerVolume		exec --no-startup-id lmc down 5
bindsym Shift+XF86AudioLowerVolume	exec --no-startup-id lmc down 10
bindsym Control+XF86AudioLowerVolume	exec --no-startup-id lmc down 1
bindsym XF86AudioRaiseVolume		exec --no-startup-id lmc up 5
bindsym Shift+XF86AudioRaiseVolume	exec --no-startup-id lmc up 10
bindsym Control+XF86AudioRaiseVolume	exec --no-startup-id lmc up 1
bindsym XF86PowerOff			exec --no-startup-id prompt "Shutdown computer?" "$shutdown"
##bindsym XF86Copy			exec
##bindsym XF86Open			exec
##bindsym XF86Paste			exec
##bindsym XF86Cut			exec
##bindsym XF86MenuKB			exec
bindsym XF86Calculator			exec $term -e R -q --no-save
##bindsym XF86Sleep			This binding is typically mapped by systemd automatically.
##bindsym XF86WakeUp			exec
bindsym XF86Explorer			exec $term -e ranger
##bindsym XF86Send			exec
##bindsym XF86Xfer			exec
bindsym XF86WWW				exec --no-startup-id $BROWSER
##bindsym XF86DOS			exec
bindsym XF86ScreenSaver			exec exec --no-startup-id lockscreen
##bindsym XF86RotateWindows		exec
##bindsym XF86TaskPane			exec
##bindsym XF86Favorites			exec
bindsym XF86MyComputer			exec $term -e ranger
##bindsym XF86Back			exec
##bindsym XF86Forward			exec
bindsym XF86Eject			exec --no-startup-id dmenuumount
bindsym XF86AudioNext			exec --no-startup-id lmc next
bindsym XF86AudioPlay			exec --no-startup-id lmc toggle
bindsym XF86AudioPrev			exec --no-startup-id lmc prev
bindsym XF86AudioStop			exec --no-startup-id lmc toggle
##bindsym XF86AudioRecord
bindsym XF86AudioRewind			exec --no-startup-id lmc back 10
bindsym XF86AudioForward		exec --no-startup-id lmc forward 10
##bindsym XF86Phone			exec
##bindsym XF86Tools			exec
bindsym XF86Reload			restart
##bindsym XF86ScrollUp			exec
##bindsym XF86ScrollDown		exec
##bindsym XF86New			exec
##bindsym XF86LaunchA			exec
##bindsym XF86LaunchB			exec
##bindsym XF86Launch2			exec
##bindsym XF86Launch3			exec
##bindsym XF86Launch4			exec
##bindsym XF86Launch5			exec
##bindsym XF86Launch6			exec
##bindsym XF86Launch7			exec
##bindsym XF86Launch8			exec
##bindsym XF86Launch9			exec
#bindsym XF86AudioMicMute		exec $micmute
bindsym XF86TouchpadToggle		exec --no-startup-id toggletouchpad
bindsym XF86TouchpadOn			exec --no-startup-id synclient TouchpadOff=0
bindsym XF86TouchpadOff			exec --no-startup-id synclient TouchpadOff=1
bindsym XF86Suspend			exec --no-startup-id lockscreen
bindsym XF86Close			kill
bindsym XF86WebCam			exec --no-startup-id camtoggle
bindsym XF86Mail			exec $term -e neomutt && pkill -RTMIN+12 i3blocks
bindsym XF86Messenger			exec $term -e weechat
bindsym XF86Search			exec $BROWSER https://duckduckgo.com
##bindsym XF86Go			exec
##bindsym XF86Finance			exec
##bindsym XF86Game			exec
bindsym XF86Shop			exec $BROWSER https://ebay.com
bindsym XF86MonBrightnessDown		exec --no-startup-id xbacklight -dec 15
bindsym XF86MonBrightnessUp		exec --no-startup-id xbacklight -inc 15
bindsym XF86AudioMedia			exec --no-startup-id $term -e ncmpcpp
bindsym XF86Display			exec --no-startup-id arandr
#bindsym XF86KbdLightOnOff		exec
#bindsym XF86KbdBrightnessDown		exec
#bindsym XF86KbdBrightnessUp		exec
##bindsym XF86Reply			exec
##bindsym XF86MailForward		exec
##bindsym XF86Save			exec
bindsym XF86Documents			exec $term -e ranger ~/Documents
##bindsym XF86Battery			exec
##bindsym XF86Bluetooth			exec
bindsym XF86WLAN			exec $netrefresh


for_window [class="Pinentry"] 			sticky enable
for_window [class="sent"] 			border pixel 0px
for_window [class="Blender"] 			move to workspace $ws6
for_window [class="marble"] 			move to workspace $ws7
for_window [title="GIMP Startup"] 		move workspace $ws5
for_window [class="Gimp"] 			move workspace $ws5
for_window [window_role="GtkFileChooserDialog"] resize shrink height 10 px
for_window [title="Default - Wine desktop"] 	floating enable
for_window [class="qutebrowser"] 		move to workspace $ws9

# Bindings to make the webcam float and stick.
for_window [title="mpvfloat"] 			floating enable
for_window [title="mpvfloat"] 			sticky enable
for_window [title="mpvfloat"] 			border pixel 0
no_focus [title="mpvfloat"]

# Binding for ffplay
for_window [class="ffplay"] 			floating enable

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym $left       resize shrink width 2 px or 2 ppt
        bindsym $down       resize grow height 2 px or 2 ppt
        bindsym $up         resize shrink height 2 px or 2 ppt
        bindsym $right      resize grow width 2 px or 2 ppt

        # same bindings, but for the arrow keys
        bindsym Left        resize shrink width 2 px or 2 ppt
        bindsym Down        resize grow height 2 px or 2 ppt
        bindsym Up          resize shrink height 2 px or 2 ppt
        bindsym Right       resize grow width 2 px or 2 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

# Move the focused window
mode "move" {
        # These bindings trigger as soon as you enter the move mode

        # Pressing left will move the window to the left
        # Pressing right will move the window to the right
        # Pressing up will move the window up
        # Pressing down will move the window down
        bindsym $left		move left
        bindsym $down		move down 
        bindsym $up		move up         
        bindsym $right		move right 

        # same bindings, but for the arrow keys
        bindsym Left       	move left 
        bindsym Down       	move down 
        bindsym Up         	move up 
        bindsym Right      	move right 

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+m mode "default"
}


bar {
	position top
	font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
	font pango:DejaVu Sans Mono 10
	status_command i3blocks
	i3bar_command i3bar --transparency
	colors {
		background #00000000
	}
}
