# vim:filetype=conf
separator_block_width=15
markup=pango

[record]
command=cat ~/.recordingicon
interval=once
signal=9

[cpu]
command=cpu
interval=15

[battery]
command=battery
interval=5

[memory]
command=memory
interval=once

[internet]
command=internet
interval=10

[nettraf]
command=nettraf
interval=15

[date]
command=date "+{%a} %m/%d/%Y [%I:%M:%S %p]"
interval=1

[volume]
command=volume
interval=once
signal=10

#[caps-lock]
#command=xset -q | grep Caps | awk '{ print $2, $3, $4 }'
#interval=once
#signal=10
